body{
font-family:"times new roman","Dotum","돋움","helvetica","verdana","consolas";
margin:auto;
background:#f2f4f7;
}
#container{
  width:999px;
  background:#e2e2e2;
}
header{
  margin-top:0px;
  margin:auto;
  margin-bottom:1px;
  width:999px;
  height:70px;
  background:#fffeee;

}
header h1{
  padding-left:10px;
  padding-top:20px;
  margin-top:0px;
  color:white;
  text-shadow:3px 3px 5px black;
  text-align: center;
}
nav{
  width:999px;
  height:30px;
  /*  background:#06568e   */
  background:#aa0000;
  color:white;
  text-shadow:1px 1px 1px black;
  border-radius:15px 0 0 0;
  margin-bottom:2px;
}
#menu{
  margin:auto;
}
#menu td{
  padding-left:35px;
  padding-right:35px;
}
#menu td:hover{
  color:#ffd700;
  cursor:pointer;
  text-decoration:underline;
}
#section{
  width:300px;
  background:white;
  border-radius:15px 0 0 0;
  box-shadow:2px 1px 2px  #e8e8e8;
  margin-bottom:1px;
}
#section ul{
  font-family: "verdana" ;
  margin:1px;
  font-size:13px;
  list-style-type: none;
}
#section b{
  text-decoration-line: underline;
  color:black;
  margin:3px;
}

a{color:black;}
a:hover{
  color:tomato;
  text-decoration:underline;
}
